<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>

<div th:align="center">

    <h1>Products</h1>

    <br>
    <br>

    <table th:width="400">

        <tr th:each="product : ${product}">
            <td th:text="${product.getDescription()}"></td>
            <td th:href="@{'/product/' + ${product.getId()} + '/show'}">SHOW </td>
            <td >UPDATE</td>
            <td th:href="@{'/product/' + ${product.getId()} + '/delete'}" >DELETE</td>

        </tr>

    </table>

    <br>
    <br>
    <a>NEW INGREDIENT</a>


</div>

</body>
</html>