<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>

<div th:align="center">

    <h1>Products</h1>

    <br>
    <br>

    <table th:width="400">

        <tr th:each="product : ${products}">
            <td th:text="${product.getDescription()}"></td>
            <td><a th:href="@{'/product/' + ${product.getId()} + '/show'}">SHOW </a></td>
            <td><a  th:href="@{'/product/' + ${product.getId()} + '/form'}">UPDATE</a></td>
            <td><a  th:href="@{'/product/' + ${product.getId()} + '/delete'}">DELETE</a></td>

        </tr>

    </table>

    <br>
    <br>
    <a th:href="@{'/product/newRecipe/form'}">NEW INGREDIENT</a>


</div>

</body>
</html>